body
{
/* background image style */

background-image:url("\ShreeRam.jpg");
background-size:cover;
background-position:center;

/* page style_code */

min-height:100vh;
padding:0px;
margin:0px;
font-family:cursive;
color:#DBEDF3;
}
main
{
color:#ffffff;
}

a:hover
{
color:red;
text-decoration:underline;
}

a
{
text-decoration:none;
color:#ffffff;
}

footer
{
font-size:15px;
background-color:#343a40;
}