.font-mainhead
{
font-family:sans-serif;
color:#DBEDF3;
}
.mainhead
{
background-color:#343a40;

}
.nav-head
{
float:right;
margin:9px;
font-size:25px;
}
.display-IF
{
display:inline-flex;
margin-left:20px;
}
.nav-link
{
padding:2px;
margin-right:40px;
}
.text-center
{
text-align:center;
}
.lead
{
font-size:30px;
line-height:2;
}
.lead a
{
text-decoration:underline;
}

.inner-footer
{
font-size:20px;
background-color:#343a40;
padding:5px;
text-align:center;
}
.img-footer
{
width:20px;
margin:5px;
vertical-align:middle;
}